body {
  background-color: black;
}
.main {
  align-items: center;
  width: 50%;
  margin-left: 25%;
  margin-top: 9%;
}
h1 {
  font-family: "Libre Baskerville", serif;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
p {
  color: white;
  text-align: center;
}
.image {
  border: 5px solid white;
  width: 100%;
}
